@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .dropdown {
    @apply border px-7 rounded-md border-myGrey-600;
  }

  .pagiButton {
    @apply w-10 h-10 text-myGrey-600 border border-transparent hover:border-myGrey-600 p-2 rounded-md;
  }

  .nav-item {
    @apply text-white p-2 border-b-4 border-transparent hover:border-b-myGrey-200 transition-all;
  }
  .nav-item-active {
    @apply text-white p-2 border-b-4 border-transparent border-b-white transition-all;
  }

  .card {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
  }

  .card-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
    margin: 0;
  }
}
